*{


}

body{
  
    background:url("night.png") fixed;
    background-size:cover;
    background-color:black;
    background-repeat: no-repeat;
}

.clock{
    margin-top:50px;
    width:600px;
    height:400px;
    margin-top:40%;
     

}

#timer{
    height:190px;
    color:white;
    font-size:130px;
    opacity:0.6;
    margin-left:25.5%;
}

.button{
    margin:4px;
    height:97px;
    opacity:0.8;
}

#start-stop{
    margin-top:0;
    width:100%;
    margin-bottom:2px;

}

#reset{
    width: 100%;
}